.header {
  border-bottom: 1px solid #ececec;
}

.header_wrap {
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header__logo {
  padding: 24px 0;
  margin-right: 90px;
}

.header__studio {
  color: #000000;
}

.header__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;

  display: flex;
  padding: 0;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__link {
  text-decoration: none;
  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition-property: color;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.current {
  color: var(--hover-color);
  position: relative;
}

.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;

  padding: 0;
  display: flex;
  margin-left: 305px;
  align-items: center;
}

.header__contact-list {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.header__contact-list + .header__contact-list {
  margin-left: 30px;
}

.header__text {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition-property: color;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.header__contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__email,
.header__tel {
  text-decoration: none;
  color: inherit;
}
