.social-icons {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color, color;

  color: var(--icon-social-color-main);
  background-color: var(--background-color);
  &:hover,
  &:focus {
    color: var(--background-color);
    background-color: var(--hover-color);
  }
}

.social-icons__icon {
  fill: currentColor;
}
